
Reciplease/.vs/config/applicationhost.config
Reciplease/.vs/Reciplease/v15/.suo
Reciplease/Reciplease/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Reciplease/Reciplease/obj/Debug/Reciplease.csproj.CoreCompileInputs.cache
