<!DOCTYPE html>
<html>

<div class="card">
	<!--- This is where the user will upload their image--->
	<img src="" alt="Profile_Image" style="width:100%">
  <div class="container">
	<!--- User's Name--->
    <h4><b></b></h4>
	<!--- User's Phone Number --->
    <p></p>
	<!---User's Email--->
	<p></p>

  </div>
</div>

</html>
