@{
    ViewBag.Title = "Home Page";
}

<div id="content" class="p-4 p-md-5 pt-5">
	  <h3>Based on your recent history</h3>
<div class="recipe-card">
<link rel="stylesheet" href="css/style2.css">
	<aside>
        		<!---Rating System--->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<style>
			.checked {
			  color: orange;
			}
			</style>
			</head>
			<body>
			<p><b>Difficulty</b></p>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
		<!---- --->
		
		<!---Rating System--->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<style>
			.checked {
			  color: orange;
			}
			</style>
			</head>
			<body>
			<p><b>Taste</b></p>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
		<!---- --->
